<main class="main__databases__add">
    <form>
        <input type="text" name="db_name" placeholder="Nazwa bazy">
        <p>Tabele</p>
        <button style="background: url('/res/img/add.svg'); border: none; width: 22px; height: 22px;" id="addTable"></button>
        <button style="display: block; padding: 10px 25px; margin-top: 25px;">Dodaj</button>
    </form>
</main>