<main class="main__databases__list">
    <section class="databases__add">
        <h2><a href="/databases/add">Dodaj</a></h2>
    </section>
    <section>
        <header><h2>Nazwa</h2></header>
        <a href="databases_show.html">Zobacz</a>
        <a href="databases_edit.html">Modyfikuj</a>
        <a href="#">Usuń</a>
    </section>
    <section>
        <header><h2>Nazwa</h2></header>
        <a href="databases_show.html">Zobacz</a>
        <a href="databases_edit.html">Modyfikuj</a>
        <a href="#">Usuń</a>
    </section>
    <section>
        <header><h2>Nazwa</h2></header>
        <a href="databases_show.html">Zobacz</a>
        <a href="databases_edit.html">Modyfikuj</a>
        <a href="#">Usuń</a>
    </section>
    <section>
        <header><h2>Nazwa</h2></header>
        <a href="databases_show.html">Zobacz</a>
        <a href="databases_edit.html">Modyfikuj</a>
        <a href="#">Usuń</a>
    </section>
    <section>
        <header><h2>Nazwa</h2></header>
        <a href="databases_show.html">Zobacz</a>
        <a href="databases_edit.html">Modyfikuj</a>
        <a href="#">Usuń</a>
    </section>
    <section>
        <header><h2>Nazwa</h2></header>
        <a href="databases_show.html">Zobacz</a>
        <a href="databases_edit.html">Modyfikuj</a>
        <a href="#">Usuń</a>
    </section>
</main>