<main class="main__login">
    <section class="login-box">
        <div><img src="/res/img/logo.png" alt="logo"></div>
        <form action="" method="POST">
            <input type="hidden" name="loginFormSent" value="1">
            <input type="email" name="email" placeholder="Adres e-mail">
            <input type="password" name="password" placeholder="Hasło">
            <button>Zaloguj</button>
        </form>
    </section>
</main>