<main class="main__users__list">
    <section class="user__row">
        <img src="/res/img/user.svg" alt="user icon">
        <h2><a href="/users/add">Dodaj użytkownika</a></h2>
    </section>
    <section class="user__row">
        <img src="/res/img/user.svg" alt="user icon">
        <h2>
            Login | Data stworzenia: YYYY-DD-MM |&nbsp;<a href="users_show.html">Zobacz</a>&nbsp;|&nbsp;<a href="users_edit.html">Edytuj</a>&nbsp;|&nbsp;<a href="#">Usuń</a>
        </h2>
    </section>
    <section class="user__row">
        <img src="/res/img/user.svg" alt="user icon">
        <h2>
            Login | Data stworzenia: YYYY-DD-MM |&nbsp;<a href="users_show.html">Zobacz</a>&nbsp;|&nbsp;<a href="users_edit.html">Edytuj</a>&nbsp;|&nbsp;<a href="#">Usuń</a>
        </h2>
    </section>
    <section class="user__row">
        <img src="/res/img/user.svg" alt="user icon">
        <h2>
            Login | Data stworzenia: YYYY-DD-MM |&nbsp;<a href="users_show.html">Zobacz</a>&nbsp;|&nbsp;<a href="users_edit.html">Edytuj</a>&nbsp;|&nbsp;<a href="#">Usuń</a>
        </h2>
    </section>
    <section class="user__row">
        <img src="/res/img/user.svg" alt="user icon">
        <h2>
            Login | Data stworzenia: YYYY-DD-MM |&nbsp;<a href="users_show.html">Zobacz</a>&nbsp;|&nbsp;<a href="users_edit.html">Edytuj</a>&nbsp;|&nbsp;<a href="#">Usuń</a>
        </h2>
    </section>
    <section class="user__row">
        <img src="/res/img/user.svg" alt="user icon">
        <h2>
            Login | Data stworzenia: YYYY-DD-MM |&nbsp;<a href="users_show.html">Zobacz</a>&nbsp;|&nbsp;<a href="users_edit.html">Edytuj</a>&nbsp;|&nbsp;<a href="#">Usuń</a>
        </h2>
    </section>
    <section class="user__row">
        <img src="/res/img/user.svg" alt="user icon">
        <h2>
            Login | Data stworzenia: YYYY-DD-MM |&nbsp;<a href="users_show.html">Zobacz</a>&nbsp;|&nbsp;<a href="users_edit.html">Edytuj</a>&nbsp;|&nbsp;<a href="#">Usuń</a>
        </h2>
    </section>
</main>