<body>
    <header>
        <h1>
            <a href="/">
                <img src="/res/img/logo.png" alt="logo" class="logo">
            </a>
        </h1>
    </header>
    {% for error in messages.errors %}
        <div class="message message_error">
            {{ error }}
        </div>
    {% endfor %}
    {% for info in messages.info %}
        <div class="message message_info">
            {{ info }}
        </div>
    {% endfor %}
    {{ include('nav.twig') }}
    {{ include( 'page/'~config.page|lower~'.twig' ) }}
</body>